<h3 class="bg-primary text-white p-4">Observable Vs Promises</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Observable Vs Promises Difference</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-2">
      <h4>Promises</h4>
      <ol>
        <li>Promises are eager</li>
        <li>Promises emit data one time only</li>
        <li>can not manipulate data using RxJs Operator</li>
        <li>Promises cannot be unsubscribed</li>
        <li>can not handle complex operations as compared to Observables</li>
      </ol>
    </div>
    <div class="col-sm-4">
      <h4>Observables</h4>
      <ol>
        <li>Observables are lazy</li>
        <li>Observables emit data multiple times i.e. as data changes </li>
        <li>Can manipulate data using Rxjs Operator</li>
        <li>Observables can be unsubscribed</li>
        <li>Observables can handle complex operation as it has multiple Rxjs Operators</li>
      </ol>
    </div>
  </div>
</div>